* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Montserrat', sans-serif;

}
.container {
  width: 80% ;
  height: 150px;
  margin: auto;
  background-color: green;
}
.navigazione-1 {
  width: 50%;
  height: 100%;
  background-color: yellow;
  float: left;
}
.navigazione-2 {
  width: 50%;
  height: 100%;
  background-color: red;
  float: left;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
