* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Montserrat', sans-serif;

}
/*stile navigazione iniziale */
.container {
  width: 80% ;
  margin: auto;
}
.navigazione-1 {
  width: 50%;
  height: 100%;
  float: left;
}
.navigazione-2 {
  width: 50%;
  height: 100%;
  float: left;

}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.info  ul li {
  display: inline-block;
  margin-top: 60px;
}
.info ul li a {
  color: #003d4d;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
}

.separatore {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 0 15px;
}
.login {
  margin-left: 40%;
}
.login ul li {
  display: inline-block;
  padding: 10px;
  margin-top: 60px;
  vertical-align: middle;
}
.btn-1 {
  border: 2px solid #ff7733;
  width: 100px;
  border-radius: 8px;
  margin: 0 15px;
}
.btn-1 a {
  color: #ff7733;
  text-decoration: none;
}

.btn-2 {
  width: 160px;
  border-radius: 8px;
  background-color: #ff7733;
  border: 1px solid #fff;
  text-align: center;
}
.btn-2 a {
  color: #fff;
  text-decoration: none;
}
#search {
  color: #00ccff;
  font-size: 20px;
}
/*/stile navigazione iniziale */
/* separatore sezioni */
.hr-iniziale {
  color: #003d4d;
  margin-top: 20px;
}
/* /separatore sezioni */
/*stile seconda navigazione */
.row {
  width: 80% ;
  margin: auto;
  height: 100px;
}
.nav-logo {
  float: left;
  width: 50%;
}
#logo {
  margin-top: 35px;
}
.ricerca {
  width: 50%;
  float: left;
}
.src ul li {
  display: inline-block;
  margin-top: 50px;
  margin-left: 15px;
}
.angle {
  margin: 0 10px;
}
.src ul li a {
  color: #003d4d;
}
/* /stile seconda navigazione */
/* Stile Hero */
.hero {
  width: 80%;
  margin: auto;
  background-color: #ffddcc;
  height: 600px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.hero-text {
  width: 50%;
  padding-top: 20px;
  color: #003d4d;
}
.hero-text h1 {
  font-size: 50px;
  font-weight: 800;
  width: 60%;
  line-height: 60px;
  margin-bottom: 20px;
}
.hero-text p {
line-height: 30px;
margin-bottom: 20px;
}
.hero-text > .btn-2 {
  line-height: 50px;
  margin-bottom: 20px;
}

.hero-text small {
  line-height: 30px;

}

/* /Stile Hero */
/* stile sezione centrata */
.centered {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  color: #003d4d;
}
.centered > img {
  width: 30%;

}
.title-cnt {
  line-height: 80px;
}
.p-cnt {
  height: 20%;
  line-height: 25px;
}
/* /stile sezione centrata */
/* box intestazione */
.box-intestazione {
  width: 50%;
  margin: auto;
  height: 350px;
 }
 .box-book {
   width: 80%;
   box-shadow: 10px 10px 10px -5px;
   margin: auto;
   margin-top: 60px;
 }
 .book-img {
   width: 30%;
   float: left;
   margin-top: 50px;
 }
.book-img > img {
width: 80%;
}
.book-img > .btn-2 {
  margin-top: 30px;
  width: 50%;

   margin-left: 30px;
}
.hubspot-crm {
  width: 70%;
  float: left;
  color:  #003d4d;
  margin-top: 60px;
  line-height: 20px;
}
#row-feature  {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  margin-left: 2px;
}
.nav-feature ul li  {
  display: inline-block;
  margin-top: 30px;

}
.title-feature {
  margin: 20px 0;
}

.orange {
  color: #ff7733;
}
.nav-feature a {
  margin: 0 10px;
  color: #003d4d;
}
.hubspot-crm p {
  line-height: 30px;
  margin: 20px 0;
}
.nav-feature i {
  margin-right: 10px;
}
/*/box intestazione */
.container-3cln {
  width: 80%;
  margin: auto;
  height: 500px;
  margin-top: 50px;
}
.box-tris {
  width: 30%;
  padding: 0 10px;
  text-align: center;
  float: left;
  box-shadow:  10px 10px 10px -5px black;
  margin-right: 40px;
  color: #003d4d;
}
.img-box > img {
  height: 150px;
}
.title-box-tris {
  line-height: 30px;
  padding: 20px;
}
.p-box-tris {
  padding: 20px;
}

.title-nav-box-tris {
   margin: 40px 0;

}
.nav-tris ul li {
  list-style: none;
  text-align: left;
}

.btn-tris {
  margin: auto;
  margin-top: 30px;
  line-height: 40px;
}
.btn-tris a {
  vertical-align: middle;
}
