* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Montserrat', sans-serif;

}
/* navigazione iniziale */
.container {
  width: 80% ;
  margin: auto;
}
.navigazione-1 {
  width: 50%;
  height: 100%;
  float: left;
}
.navigazione-2 {
  width: 50%;
  height: 100%;
  float: left;

}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.info  ul li {
  display: inline-block;
  margin-top: 60px;
}
.info ul li a {
  color: #003d4d;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
}

.separatore {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 0 15px;
}
.login {
  margin-left: 40%;
}
.login ul li {
  display: inline-block;
  padding: 10px;
  margin-top: 60px;
  vertical-align: middle;
}
.btn-1 {
  border: 2px solid #ff7733;
  width: 100px;
  border-radius: 8px;
  margin: 0 15px;
}
.btn-1 a {
  color: #ff7733;
  text-decoration: none;
}

.btn-2 {
  width: 160px;
  border-radius: 8px;
  background-color: #ff7733;
  border: 1px solid #fff;
}
.btn-2 a {
  color: #fff;
  text-decoration: none;
}
#search {
  color: #00ccff;
  font-size: 20px;
}
/*/navigazione iniziale */
/* separatore sezioni */
.hr-iniziale {
  color: #003d4d;
  margin-top: 20px;
}
/* /separatore sezioni */
.row {
  width: 80% ;
  margin: auto;
  height: 100px;
}
.nav-logo {
  float: left;
  width: 50%;
}
#logo {

  margin-top: 35px;
}
.ricerca {
  width: 50%;
  float: left;
}
.src ul li {
  display: inline-block;
  margin-top: 50px;
  margin-left: 15px;
}
.angle {
  margin: 0 10px;
}
